<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>httpsessionlogin</display-name>
    <servlet>
        <servlet-name>CommentoServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.CommentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCommentoServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.SaveCommentoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePostServlet</servlet-name>
        <url-pattern>/SavePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentoServlet</servlet-name>
        <url-pattern>/CommentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCommentoServlet</servlet-name>
        <url-pattern>/SaveCommentoServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>FirstServlet</display-name>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePostServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.SavePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SecondServlet</display-name>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>RegistrazionServlet</display-name>
        <servlet-name>RegistrazionServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.RegistrazionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrazionServlet</servlet-name>
        <url-pattern>/RegistrazionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PostServlet</display-name>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>it.marconivr.microblog.Servlet.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
</web-app>
